{% extends 'base.html' %}

{% block content %}
   <div class="container">
   {% include 'alerts.html' %}

       <a class="btn btn btn-outline-light my-3" href="{% url 'tasks:task-create' %}" role="button"><i class="bi bi-plus-square me-1"></i>New task</a>

       <form method="get" class="d-flex gap-3 align-items-end pb-2">
           {{form.as_div}}
           <button type="submit" class="btn btn-warning">Filter</button>
       </form>

       <div class="list-group">
        {% for task in tasks %}
           <a href="{% url 'tasks:task-update' task.pk %}" class="list-group-item list-group-item-action" aria-current="true">
               {{ task.title }}
               <span class="badge text-bg-primary">{{task.get_status_display  }}</span>
               <span class="badge text-bg-warning">{{task.get_priority_display }}</span>

         </a>
       {% endfor %}
    </div>


   </div>


{% endblock %}